{
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
